<div class=container>
	<div class=entree>
		<div>
			<label>nombre 1:
			  <input [(ngModel)]="calculIn.nombre1" placeholder="0">
			</label>
		</div>
		<div>
			<label>operation :
				<select [(ngModel)]="calculIn.operateur">
					<option value="1">+</option>
					<option value="2">-</option>
					<option value="3">*</option>
					<option value="4">/</option>
				</select>
			</label>
		</div>
		<div>
			<label>nombre 2:
			  <input [(ngModel)]="calculIn.nombre2" placeholder="0">
			</label>
		</div>
	</div>
	<div class=egal>
		<button (click)="calculer()">=</button>
		{{calculOut.resultatTexte}}
	</div>
	<div class= resultat>{{calculIn.resultatTexte}}</div>
</div>
