.container {
	background-color: RGB(96, 96, 96);
	color: RGB(255, 255, 192);
	border-radius: 20px;
	width: 235px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: span;
	flex-wrap: nowrap;
}

div {
	background-color: RGB(64, 64, 64);
	color: RGB(255, 255, 192);
	width: 200px;
	padding: 10px;
	border-radius: 10px;
	border-style: solid;
	border-color: RGB(0, 0, 0);
	display: flex;
	margin: 5px;
}

h1 {
	color: RGB(255, 255, 255);
	order: 1;
}

.calcul {
	order: 2;;
	height: 120px;
}

.memoire {
	order: 3;
	height: 20px;
}

select, input {
	width: 90px;
}

input, select, button {
	display: inline-flex;
	margin-top: 1px;
	background-color: RGB(32, 0, 128);
	color: RGB(255, 255, 192);
	border-style: solid, 1px;
	border-color: RGB(16, 0, 64);
	border-radius: 5px;
	height: 20px;
	position: relative;
	right: -40px;
}

p {
	background-color: RGB(32, 0, 128);
	color: RGB(255, 255, 192);
	border-style: solid, 1px;
	border-color: RGB(16, 0, 64);
	border-radius: 5px;
	height: 20px;
	position: relative;
}

.memoire>form>button {
	width: 100px;
	position: relative;
	right: 0px;
}

.calcul>form>button {
	width: 200px;
	position: relative;
	right: 0px;
}

.calcul>form>p {
	width: 90px;
	right: -110px;
	bottom: 30px;
}